<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1 id="login-header">Login</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert-info">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('login') }}" method="post">
            <input id="username-input" type="text" name="username" placeholder="Username" autocomplete="off" required>
            <input id="password-input" type="password" name="password" placeholder="Password" autocomplete="off" required>
            <button id="submit-login" type="submit">Sign In</button>
            <!-- <a id="registration_btn" href="/registration">Sign Up</a> -->
        </form>
    </div>
</body>
</html>